body{
    /* background-color: black; */

}
.card-container{
    position: absolute;
    height: 20%;
    color: wheat;
}
.card-container:nth-child(1){
    position: relative;
}
.card-container:nth-child(2){
    position: relative;
}
img{
   width: 20%;
}